*{
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration: none;		
}
body{
	font-family: PingFangSC-Regular,myfont,Helvetica Neue,Helvetica,Hiragino Sans GB,STHeitiSC-Light,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}

.head-section{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 5vw;
	z-index: 250;
	transition: background-color 1s;
	background-color: #fff;
	border-bottom: 1px solid #999;
}
/*.head-content{
	position: absolute;
}*/
.head-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 10vw;
  height: 2.1vw;
  display: inline-block;
	cursor: pointer;
	margin-left: -5vw;
  margin-top: -1.05vw;
}
.head-nav{
	margin-left: 2.5vw;
  position: absolute;
  display: inline-block;
  top: 0;
}
.head-nav>a{
	display: inline-block;
	line-height: 5vw;
	margin-right: 2.1vw;
  font-family: PingFangSC-Regular;
  font-size: 1vw;
  color: #999;
}
.head-henxian{
  position: absolute;
  top: 5vw;
  left: 50%;
	width: 95vw;
	height: 1px; 
	background: #fff;
  opacity: .3;
  margin-left: -47.5vw;
}

.contaner{
	margin-top: 5vw;
}
.platform-section{
	width: 100%;
	height: 560px;
	background-image: url(../img/bg_platform.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	/*background: url(https://ofo.oss-cn-qingdao.aliyuncs.com/ofoweb/official/news_2018_04_02/pc/cooperation/bg_platform.svg) no-repeat 50%;*/
}
.platfrom-content{
	position: relative;
	width: 1080px;
	height: 100%;
	margin:0 auto;
	overflow: hidden;
}
.platfrom-title{
	text-align: center;
  margin-top: 90px;
  font-size: 26px;
  color: #3e3a39;
}
.platfrom-list{
	overflow: hidden;
  margin-top: 120px;
  font-size: 0;
}
.platfrom-item{
	display: inline-block;
	width: 33%;
	text-align: center;
  color: #3e3a39;
}
.platfrom-img{
	display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.platfrom-item .play{
	display: block;
  font-family: PingFangSC-Semibold;
  font-size: 20px;
  margin-top: 20px;
}
.platfrom-item .text{
	font-size: 16px;
	color: #3e3a39;
}

.user-section{
	position: relative;
	width: 100%;
	height: 560px;
	background-color: #ffd900;
	background-image: url(../img/bg_user.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}
.user-title{
	font-size: 30px;
	color: #3e3a39;
	position: absolute;
	top: 255px;
	left: 40px;

}
.user-list{
	position: absolute;
	top: 0;
	right: 40px;
	width: 590px;
	height: 560px;
	background-image: url(../img/ic_user_portrait.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;

}


























.bottom-section{
	position: relative;
  background-color: #3d3d42;
  width: 100%;
  height: 243px;
}
.bottom-logo{
	position: absolute;
	top: 40px;
	left: 50%;
  width: 130px;
  height: 46px;
  margin-left: -65px;
}
.gxb{
	display: inline-block;
	position: absolute;
	top: 116px;
	left: 50%;
	width: 82px;
  height: 30px;
  margin-left: -41px;
}
.gxb>img{
	width: 82px;
  height: 30px;
}
.social_media_account{
  position: absolute;
  left: 50%;
  top: 171px;
	width: 94px;
  height: 32px;
  margin-left: -47px;
  
}
.social_media_account .sina{
	display: inline-block;
	width: 32px;
  height: 32px;
  margin-right: 25px;
  cursor: pointer;
}
.social_media_account .wixin{
	width: 32px;
  height: 32px;
  cursor: pointer;
}

footer{
	width: 100%;
  height: 92px;
  background-color: #323337;
  padding-top: 24px;
}
footer>p{
	width: 100vw;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
}